@use "../variables" as *;
@use "../mixin" as *;


.dropdown-container {
    position: relative;

    &-children {
        cursor: pointer;
        @include flex(center, flex-start);
        gap: 7px;

        &:hover {
            span {
                svg {
                    path {
                        fill-opacity: 1;
                    }
                }
            }
        }
    }

    .dropdown-menu {
        position: absolute;
        min-width: 200px;
        background-color: #1A172F;
        top: calc(100% + 8px);
        left: -60%;
        padding: 16px 0;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        z-index: 1000;
        transition: all 0.5s ease-in;
    }

    .dropdown-menu-show {
        display: block;
        transform: translateY(0%);
        animation: animated 0.1s ease-in;
    }

    .dropdown-menu-hidden {
        display: none;
    }

    @keyframes animated {
        0% {
            transform: translateY(-2%);
            opacity: 0;
        }

        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}