@use "../variables" as *;
@use "../mixin" as *;

.subgraphs {
    @include flex(center, flex-start);
    gap: 32px;
    // padding-right: 64px;

    @media (max-width: $md) {
        flex-direction: column;
    }

    &-images {
        width: 501px;
        height: 572px;
        // flex: 1;
        position: relative;

        @media (max-width: 1124px) {
            // flex: 1;
        }

        @media (max-width: $md) {
            width: 376px;
            height: 430px;
        }

        p {
            font-weight: 600;
        }

        &-item-1 {
            @include flex(center, center);
            background-size: 100% 100%;
            aspect-ratio: 642 / 392;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 10;
            transition: all 0.4s ease-in;

            p {
                margin-top: 36px;

            }
        }

        &-item-3 {
            @include flex(center, center);
            background-size: 100% 100%;
            aspect-ratio: 642 / 392;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            transition: all 0.5s ease-in;

            z-index: 6;

            p {
                margin-top: 70px;

            }
        }

        &-item-2 {
            @include flex(center, center);
            background-size: 100% 100%;
            opacity: 1;
            aspect-ratio: 642 / 392;
            width: 64%;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            width: 72%;
            bottom: 46.85%;
            z-index: 8;

            p {
                margin-top: 54px;

            }
        }

        &-item-4 {
            @include flex(center, center);
            background-size: 100% 100%;
            aspect-ratio: 1002 / 458;
            width: 64%;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 8;
            transition: all 0.5s ease-in;

            p {
                margin-bottom: 54px;

            }
        }

        .item1 {
            width: 50%;
            top: 10%;
            opacity: 0.3;
        }

        .item3 {
            width: 50%;
            top: 10%;
            width: 60%;
            bottom: 50.34%;
            opacity: 0.3;
        }

        .item4 {
            width: 50%;
            top: 10%;
            width: 60%;
            bottom: 50.34%;
            opacity: 0.3;
        }

        .item-tranform-1 {
            width: 64%;
            top: 0;
            opacity: 1;
        }

        .item-tranform-3 {
            width: 64%;
            bottom: 32.34%;
            opacity: 1;
        }

        .item-tranform-4 {
            width: 100%;
            bottom: 0;
            opacity: 1;
        }
    }

    &-right {
        width: 671px;
        // flex: 1;

        transition: all 0.4s ease-in;

        @media (max-width: 1280px) {
            flex: 1;
        }

        @media (max-width: $md) {
            width: auto;
        }

        &-description {
            margin-top: 32px;
        }

        &-btns {
            margin-top: 64px;
            @include flex(center, flex-start);
            gap: 48px;

            button {
                font-size: 14px;
                font-weight: 600;
                height: 48px;

            }

            .btn-build {
                background-color: $purple64;
                padding: 0 24px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $purple;

                }
            }


        }
    }

    .subgraphs-right-hidden {
        opacity: 0.3;
        transform: translateY(50px);
    }

    .subgraphs-right-visiale {
        opacity: 1;
        transform: translateY();

    }
}