@use "../variables" as *;
@use "../mixin" as *;


.using-subgraph {

    &-title {
        padding: 0 192px;

        @media (max-width: $lg) {
            padding: 0 100px;

        }

        @media (max-width: $md) {
            padding: 0 0;

        }

        h2 {
            font-size: 64px;

            @media (max-width: $md) {
                text-align: left;
                font-size: 40px;

            }
        }

        p {
            margin-top: 32px;
            padding: 0 16px;

            @media (max-width: $md) {
                text-align: left;
                padding: 0 0;

            }
        }
    }

    &-box {
        @include flex(stretch, flex-start);

        margin-top: 64px;
        border: 16px solid $white8;
        border-radius: 10px;
        outline-width: 16px;
        outline-color: $white8;

        @media (max-width: 868px) {
            flex-direction: column;

        }

        .box-card {
            padding: 96px 48px 96px 64px;
            flex: 1;
            cursor: pointer;
            transition: all 0.3s ease-in;

            @media (max-width: $lg) {
                padding: 16px;

            }

            &:hover {
                background-color: rgb(17, 15, 34);

                .step-1-btn {
                    color: $white;
                }


                .arrow-run {
                    opacity: 1;
                    transform: translate(60%, -50%);

                }
            }

            .step {
                font-weight: 500;
                font-size: 12px;
                line-height: calc(1em + 2px);
                letter-spacing: 0.15em;
            }

            &-title {
                @include flex(flex-start, flex-start);
                flex-direction: column;
                gap: 8px;
            }



            .content-step-1 {
                @include flex(flex-start, flex-start);
                flex-direction: column;
                gap: 32px;

                &-img {
                    margin-top: 32px;
                    width: 232px;
                    height: 232px;

                    @media (max-width: 868) {
                        width: 232px;
                        height: 232px;
                    }

                    @media (max-width: 1100px) {
                        width: auto;
                        height: auto;
                    }


                }

                @media (max-width: 868px) {
                    @include flex(center, center);
                    flex-direction: column;

                }

            }

            .step-1-btn {
                position: relative;
                display: inline-block;
                font-size: 16px;
                font-weight: 400;
                color: $white48;
                transition: all 0.2s ease-in;
            }

            .content-step-2 {
                margin-top: 32px;

                .rick-text-1 {
                    margin-left: 45px;
                }

                .rick-text-2 {
                    margin-left: 70px;
                }

                .rick-text-3 {
                    margin-left: 56px;
                }

                .rick-text-4 {
                    margin-left: 36px;
                }
            }


        }

        .box-card-2 {
            padding: 96px 48px;

            @media (max-width: $lg) {
                padding: 16px;

            }
        }

        .devider {
            width: 4px;
            height: auto;
            background-color: $white4;
        }
    }
}