@use "./variables" as *;
@use "./mixin" as *;

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1352px;
}

.main-2-container {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1352px;

  @media (max-width: $md) {
    padding: 0 16px;

  }
}

.main-container {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1288px;


}

.text-small-12 {
  font-size: 12px;
  font-weight: 400;

}

.text-small {
  font-size: 14px;
  font-weight: 600;
}

.text-small-thin {
  font-size: 14px;
  font-weight: 400;
}

.text-md-16 {
  font-size: 16px;
  font-weight: 500;
}

.text-md {
  font-size: 18px;
  font-weight: 400;
}

.text-regular {
  font-size: 24px;
  font-weight: 400;

  @media (max-width: $md) {
    font-size: 20px;
  }

}

.text-nowrap {
  text-wrap: nowrap;
}

.text-center {
  text-align: center;
}

.color-primary {
  color: $primary
}

.color-white {
  color: $white
}

.color-white-64 {
  color: $white64
}

.color-white-48 {
  color: $white48
}

.color-secondary {
  color: $secondary;
}

.color-blue {
  color: $blue;
  font-weight: 500;
}

.color-green {
  color: $green;
  font-weight: 500;
}

.color-purple {
  color: $purple;
  font-weight: 500;
}

.bg-black {
  background-color: #0D0A1D;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08)
}

.devider {
  @include flex(center, space-between);
  gap: 2px;

  svg {
    path {
      stroke: $secondary;
    }
  }

  p {
    flex: 1;
    border-top: 1px solid rgba(255, 255, 255, 0.16)
  }
}

.btn-text-arrow {
  @include flex(center, flex-start);

  .arrow {
    margin-left: 8px;
    transition: all 0.2s ease-in;
  }

  &:hover {
    .arrow {
      transform: translateX(3px);

    }
  }

}

.arrow-run {
  opacity: 0;
  transition: all 0.1s ease-in;
  transform: translateY(-50%);
  position: absolute;
  right: -12px;
  top: 50%;
  z-index: 1000;

}

.arrow-down {
  transform: rotate(90deg);
  transition: all 0.1s ease-in;
}

.arow-open {
  transform: rotate(-90deg)
}

.visible {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s ease-in;
}

.un-visible {
  transform: translateY(20px);
  opacity: 0.3;
  transition: all 0.3s ease-in;
}