$primary: #ffffffe0;
$secondary: #ffffffa3;

$white: #ffffff;
$white64: rgba(255, 255, 255, 0.64);
$white48: rgba(255, 255, 255, 0.48);
$white16: rgba(255, 255, 255, 0.16);
$white8: rgba(255, 255, 255, 0.08);
$white4: rgba(255, 255, 255, 0.04);
$white2: rgba(255, 255, 255, 0.02);

$purple: rgba(111, 76, 255);
$purple88: rgba(111, 76, 255, 0.88);
$purple64: rgba(111, 76, 255, 0.64);

$blue: #66D8FF;

$green: rgb(75, 202, 129);

$radius: 10px;

$sm: 512px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;