$primary: #ffffffe0;
$secondary: #ffffffa3;
$white: #ffffff;
$white48: rgba(255, 255, 255, 0.48);
$white8: rgba(255, 255, 255, 0.08);
$white4: rgba(255, 255, 255, 0.04);
$purple: rgba(111, 76, 255);
$purple88: rgba(111, 76, 255, 0.88);
$purple64: rgba(111, 76, 255, 0.64);


$radius: 10px;


$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;